<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
  <title>Kadin - Contact page</title>
  <meta name = "format-detection" content = "telephone=no" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!--meta info-->
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="shortcut icon" type="image/x-icon" href="images/fav_icon.ico">
  <!--stylesheet include-->
  <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/style.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" media="all" href="css/responsive.css">
  <link rel="stylesheet" type="text/css" media="all" href="css/owl.carousel.css">
  <!--modernizr-->
  <script src="js/jquery.modernizr.js"></script>
  
</head>
<body class="wide_layout">
   
  <div class="loader"></div>
  <!--[if (lt IE 9) | IE 9]>
    <div class="ie_message_block">
      <div class="container">
        <div class="wrapper">
          <div class="clearfix"><i class="fa fa-exclamation-triangle f_left"></i><b>Attention!</b> This page may   not display correctly. You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="button button_type_3 button_grey_light f_right" target="_blank">Update Now!</a></div>
        </div>
      </div>
    </div>
  <![endif]-->

  <!--cookie-->
  <!-- <div class="cookie">
          <div class="container">
            <div class="clearfix">
              <span>Please note this website requires cookies in order to function correctly, they do not store any specific information about you personally.</span>
              <div class="f_right"><a href="#" class="button button_type_3 button_orange">Accept Cookies</a><a href="#" class="button button_type_3 button_grey_light">Read More</a></div>
            </div>
          </div>
        </div>-->
  <div class="wrapper_container">
    <!--==============================header=================================-->
    <header role="banner" class="header header-main">
      <div class="h_top_part">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="header_top mobile_menu var2">
                <nav>
                  <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </nav>
                <div class="login_block">
                  <ul>
                    <!--Login-->
                    <li class="login_button">
                      <a href="#" role="button"><i class="fa fa-user login_icon"></i>Login</a>
                      <div class="popup">
                        <form>
                          <ul>
                            <li>
                              <label for="username">Username</label><br>
                              <input type="text" name="" id="username">
                            </li>
                            <li>
                              <label for="password">Password</label><br>
                              <input type="password" name="" id="password">
                            </li>
                            <li>
                              <input type="checkbox" id="checkbox_10"><label for="checkbox_10">Remember me</label>
                            </li>
                            <li>
                              <a href="#" class="button button_orange">Log In</a>
                              <div class="t_align_c">
                                <a href="#" class="color_dark">Forgot your password?</a><br>
                                <a href="#" class="color_dark">Forgot your username?</a>
                              </div>
                            </li>
                          </ul>
                        </form>
                        <section class="login_footer">
                          <h3>PENDAFTARAN</h3>
                          <a href="#" class="button button_grey">Create an Account</a>
                        </section>
                      </div>
                    </li>
                    <!--language settings-->
                    <li class="lang_button">
                      <a role="button" href="#"><img src="images/flag_en.jpg" alt=""><span>English</span></a>
                      <ul class="dropdown_list">
                        <li><a href="#"><img src="images/flag_en.jpg" alt="">English</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="h_bot_part">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="clearfix">
                <a href="index.html" class="f_left logo"><img src="images/logo_kadin.png" alt=""></a>
                <!-- <a href="#" class="f_right"><img src="images/728x90.jpg" alt=""></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--main menu container-->
      <div class="menu_wrap">
        <div class="menu_border">
          <div class="container clearfix menu_border_wrap">
            <!--button for responsive menu-->
            <button id="menu_button">
              Menu
            </button>
            <!--main menu-->
            <nav role="navigation" class="main_menu menu_var2">  
              <ul>
                <li class="current"><a href="index.html">Home<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                  
                </li>
                <li class="menu_4"><a href="#">Profil<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                  <!--sub menu-->
                  <div class="sub_menu_wrap type_2 clearfix">
                    <ul>
                      <li><a href="page_404.html">Sejarah</a></li>
                      <li><a href="page_404.html">UU / AD / ART KADIN</a></li>
                      <li><a href="page_404.html">Peraturan dan Pedoman Organisasi</a></li>
                      <li><a href="page_404.html">Lambang Mars dan Hymne</a></li>
                      <li><a href="page_404.html">Structur Organisasi</a></li>
                      <li><a href="page_404.html">Visi dan Misi</a></li>
                      <li><a href="page_404.html">Dewan Kehormatan</a></li>
                      <li><a href="page_404.html">Dewan Penasihat</a></li>
                      <li><a href="page_404.html">Dewan Pertimbangan</a></li>
                      <li><a href="page_404.html">Dewan Pengurus</a></li>
                      <li><a href="page_404.html">Dewan Pakar</a></li>
                      <li><a href="page_404.html">Kadin Daerah</a></li>
                      <li><a href="page_404.html">Komite birateral dan Multilateral</a></li>
                      <li><a href="page_404.html">Lembaga / Badan dibawah kadin</a></li>
                      <li><a href="page_404.html">Sekertariat Kadin</a></li>
                      <li><a href="page_404.html">Program Kerja</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu_4"><a href="#">Keanggotaan<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                  <!--sub menu-->
                  <div class="sub_menu_wrap type_2 clearfix">
                    <ul>
                      <li><a href="page_404.html">Anggota Kadin</a></li>
                      <li><a href="page_404.html">Asosiasi / Himpunan</a></li>
                      <li><a href="page_404.html">Asosiasi Teraktreditasi</a></li>
                      <li><a href="page_404.html">Persyaratan dan Prosedur</a></li>
                      <li><a href="page_404.html">Perusahaan Terintegrasi</a></li>
                      <li><a href="page_404.html">Pendaftaran Online</a></li>
                      <li><a href="page_404.html">Layanan ATA Carnet</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu_4"><a href="#">Berita<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                  <!--sub menu-->
                  <div class="sub_menu_wrap type_2 clearfix">
                    <ul>
                      <li><a href="page_404.html">Berita Ketua Umum</a></li>
                      <li><a href="page_404.html">Berita Kadin</a></li>
                      <li><a href="page_404.html">Galeri Kegiatan</a></li>
                    </ul>
                  </div>
                </li>
                <li class="menu_4"><a href="page_contact.html">Hubungi kami<span class="plus"><i class="fa fa-plus-square-o"></i><i class="fa fa-minus-square-o"></i></span></a>
                </li>
              </ul>
            </nav>
            <div class="search-holder">
              <div class="search_box">
                <button class="search_button button button_orange_hover">
                  <i class="fa fa-search"></i>
                </button>
              </div>
              <!--search form-->
              <div class="searchform_wrap var2">
                <div class="container vc_child h_inherit relative">
                  <form role="search">
                    <input type="text" name="search" placeholder="Type search text and hit enter">
                  </form>
                  <button class="close_search_form">
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--==============================Breadcrumb================================-->
    <div class="breadcrumb">
      <div class="container">
        <div>
          <span><a href="#">Home</a></span> / Contact
        </div>
      </div>
    </div>
    <!--==============================content================================-->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12">
            <div class="section">
              <h2 class="section_title section_title_big">Contact Us</h2>
              <p>Untuk menyampaikan saran/komentar/pertanyaan Anda, silahkan menghubungi kami melalui :<span class="required">*</span>.</p>
              <p>atau dengan menggunakan form di bawah ini :</p>
              <form id="contactform" class="contact_form">
                <ul>
                  <li>
                    <label>Name<span class="required">*</span></label>
                    <input type="text" name="cf_name" id="cf_name">
                  </li>
                  <li>
                    <label>Email<span class="required">*</span></label>
                    <input type="text" name="cf_email" id="cf_email">
                  </li>
                  <li>
                    <label>Subject</label>
                    <input type="url" name="cf_subject" id="cf_subject">
                  </li>
                  <li>
                    <label>Message</label>
                    <textarea name="cf_message" id="cf_message"></textarea>
                  </li>
                  <li>
                    <button class="button button_grey">Send Message</button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <!--Featured video-->
            <div class="section">
              <h3 class="section_title">Contact Details</h3>
              <div class="t_align_c">
                <div class="map_container">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12098.04228269596!2d-74.00499255597757!3d40.70677554722762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6!5e0!3m2!1sru!2s!4v1393474990482"></iframe>
                </div>
              </div>
              <p>KAMAR DAGANG DAN INDUSTRI INDONESIA Indonesian Chamber of Commerce and Industry</p>
              <ul class="contact_info_list">
                <li>
                  <div class="clearfix">
                    <i class="fa fa-map-marker"></i>
                    <p>Menara Kadin Indonesia Lt. 29 Jalan HR Rasuna Said X-5 kav 2-3, Jakarta 12950 - Indonesia</p>
                  </div>
                </li>
                <li>
                  <div class="clearfix">
                    <i class="fa fa-phone"></i>
                    <p>[62-21]-5274484 (hunting)</p>
                  </div>
                </li>
                <li>
                  <div class="clearfix m_bottom_10">
                    <i class="fa fa-envelope"></i>
                    <p>
                      <a href="mailto:#">sekretariat@kadin-indonesia.or.id   atau  kadin@kadin-indonesia.or.id</a>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
            <div class="section">
              <h3 class="section_title">Social Media</h3>
              <ul class="social_media_list clearfix">
                <li>
                  <a href="#" class="rss">
                    <i class="fa fa-rss"></i>
                    <div>2,035</div>
                    <p>Subscribers</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="fb">
                    <i class="fa fa-facebook"></i>
                    <div>3,794</div>
                    <p>Fans</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="g_plus">
                    <i class="fa fa-google-plus"></i>
                    <div>941</div>
                    <p>Followers</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="you_tube">
                    <i class="fa fa-youtube-play"></i>
                    <div>7,820</div>
                    <p>Subscribers</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                    <i class="fa fa-twitter"></i>
                    <div>1,562</div>
                    <p>Followers</p>
                  </a>
                </li>
                <li>
                  <a href="#" class="pint">
                    <i class="fa fa-pinterest"></i>
                    <div>1,310</div>
                    <p>Followers</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--==============================footer=================================-->
    <!--markup footer-->
    <footer class="footer footer_4">
      <div class="top_footer_banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="widget_social_icons clearfix" data-appear-animation="fadeInDown" data-appear-animation-delay="1150">
                <ul>
                  <li class="facebook">
                    <span class="tooltip">Facebook</span>
                    <a href="#">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="twitter">
                    <span class="tooltip">Twitter</span>
                    <a href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="google_plus">
                    <span class="tooltip">Google+</span>
                    <a href="#">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                  <li class="rss">
                    <span class="tooltip">Rss</span>
                    <a href="#">
                      <i class="fa fa-rss"></i>
                    </a>
                  </li>
                  <li class="pinterest">
                    <span class="tooltip">Pinterest</span>
                    <a href="#">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li class="instagram">
                    <span class="tooltip">Instagram</span>
                    <a href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="linkedin">
                    <span class="tooltip">LinkedIn</span>
                    <a href="#">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li class="vimeo">
                    <span class="tooltip">Vimeo</span>
                    <a href="#">
                      <i class="fa fa-vimeo-square"></i>
                    </a>
                  </li>
                  <li class="youtube">
                    <span class="tooltip">Youtube</span>
                    <a href="#">
                      <i class="fa fa-youtube-play"></i>
                    </a>
                  </li>
                  <li class="flickr">
                    <span class="tooltip">Flickr</span>
                    <a href="#">
                      <i class="fa fa-flickr"></i>
                    </a>
                  </li>
                  <li class="envelope">
                    <span class="tooltip">Contact Us</span>
                    <a href="#">
                      <i class="fa fa-envelope-o"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="widget_newsletter form_section" data-appear-animation="fadeInDown" data-appear-animation-delay="1150">
                <form id="newsletter">
                  <button type="submit" class="btn-email button button_grey_light" data-type="submit"><i class="fa fa-envelope-o"></i></button>
                  <div class="wrapper">
                    <input type="email" placeholder="Your email address" name="newsletter-email">
                  </div> 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_top_part">
        <div class="container">
          <div class="row">
            
          </div>
        </div>
      </div>
      <!--copyright part-->
      <div class="footer_bottom_part">
        <div class="container clearfix">
          <p>&copy; 2016 <span>Nusoft</span>. All Rights Reserved.</p>
          <div class="mobile_menu">
            <nav>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Profil</a></li>
                <li><a href="#">Keanggotaan</a></li>
                <li><a href="#">Berita</a></li>
                <li><a href="#">Hubungi Kami</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!--scripts include-->
  <script src="js/jquery-2.1.0.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="js/jquery.queryloader2.min.js"></script>
  <script src="js/jflickrfeed.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/retina.js"></script>
  <script src="js/circles.min.js"></script>
  <script src="plugins/twitter/jquery.tweet.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>


</body>
</html>